################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/ds4/v17
/Laboratorio 1/.vs/Laboratorio 1
/Laboratorio2/.vs/Laboratorio2
/Laboratorio21/.vs/Laboratorio21
/Laboratorio3/.vs/Laboratorio3
/Laboratorio3/Laboratorio31/.vs/Laboratorio31
/Laboratorio3/Laboratorio32/.vs/Laboratorio32
/Laboratorio3/Laboratorio33/.vs/Laboratorio33
/Laboratorio4/.vs/Laboratorio4
/Laboratorio4/Laboratorio42/.vs/Laboratorio42
/Laboratorio4/Laboratorio43/.vs/Laboratorio43
/Laboratorio4/Laboratorio44/.vs/Laboratorio44
/Laboratorio4/Laboratorio45/.vs/Laboratorio45
/Laboratorio4/Laboratorio46/.vs/Laboratorio46
